<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.neusoft.hotelmanagement.hotel.mapper.IHotelMapper">

	<resultMap id="HotelResultMap" type="Hotel" >
		<id property="hotelId" column="HotelId"/>
		<result property="hotelName" column="HotelName"/>
		<result property="managerId" column="ManagerId"/>
	</resultMap>
 
	<insert id="insert" parameterType="Hotel" keyProperty="hotelId"   keyColumn="HotelId"  useGeneratedKeys="true">
	insert into hotel (HotelId,HotelName,ManagerId) values (#{hotelId},#{hotelName},#{managerId})
 	</insert>
  
 	<update id="update">
 	update  hotel set HotelName=#{hotelName},ManagerId=#{managerId} where HotelId=#{hotelId}
 	</update>
  
	<delete id="delete">
 	delete from hotel where HotelId=#{hotelId} 
 	</delete>
  
 	<select id="selectByAll"  resultMap="HotelResultMap">
 	select *  from hotel
 	</select>
 	
 	<select id="selectByAllWithPage" resultMap="HotelResultMap">
 	select *  from hotel limit #{start},#{rows}
 	</select>
 	
 	<select id="selectCountByAll" resultType="_int">
 	select count(*)  from hotel
 	</select>
 
 	<select id="selectByNo"  resultMap="HotelResultMap">
 	select * from hotel where HotelId=#{hotelId}
 	</select>
  
</mapper>